body {
  font-family: 'Indie Flower', cursive;
  background-color: #f3ccdd;
  font-size: 30px;
  color: #444444;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  line-height: 1;
}

button,
button:active,
button:focus {
  font-size: 30px;
  cursor: pointer;
  font-family: 'Indie Flower', cursive;
  background-color: #ffff99;
  border: none;
  border-radius: 8px;
  padding: 2px 8px;
  outline: 0;
}

button:hover {
  transition: 0.3s background-color;
  background-color: #98fbc9;
}

.app-container {
  max-width: 650px;
  margin: 100px auto;
  text-align: center;
}

.options-container {
  margin-top: 15px;
}

.chibi-container {
  background-image: url('../images/chibo.png');
  background-repeat: no-repeat;
  background-size: 150px 268px;
  height: 268px;
  width: 150px;
  float: left;
}

.input-wrapper {
  margin-right: 10px;
}

.input-wrapper label {
  position: relative;
  cursor: pointer;
}

.input-wrapper label:hover {
  font-weight: bold;
  transition: 0.3s font-weight;
}

.input-wrapper span::before,
.input-wrapper span::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.input-wrapper span::hover {
  cursor: pointer;
}
.input-wrapper span::before {
  left: -20px;
  width: 17px;
  height: 17px;
  background-color: white;
  border-radius: 50px;
}

input[type="radio"]:checked + label span::after {
  left: -17px;
  width: 11px;
  height: 11px;
  border-radius: 10px;
  background-color: #98fbc9;
  transition: left .25s, background-color .25s;
}

.group-label {
  margin-right: 10px;
  text-transform: uppercase;
}

.go-button {
  margin-top: 10px;
}

.quiz-free-text-container {
  display: inline-block;
}

.char {
  font-size: 70px;
  line-height: 1.5;
}

button.control {
  margin: 15px 5px 0;
}

input[type=text],
input[type=text]:disabled {
  font-family: 'Indie Flower', cursive;
  font-size: 35px;
  padding: 8px 8px;
  max-width: 200px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=text].right:disabled {
  background-color: #98fbc9;
  opacity: 0.8;
}

input[type=text].wrong:disabled {
  background-color: #ff7d7d;
  opacity: 0.8;
}

input[type=text]:focus {
  outline: none;
  border:1px solid #98fbc9;
  box-shadow: 0 0 10px #719ECE;
}


#solution-input {
  display: block;
  margin: auto;
}

.result-container {
  display: inline-block;
  margin-top: 30px;
}

.counter {
  margin-top: 5px;
}

.choices {
  font-size: 40px;
}

.multiple-choice-char {
  margin-bottom: -20px;
  position: relative;
}

.multiple-choice-char .feedback {
  font-size: 40px;
  position: absolute;
  top: 35px;
}

.multiple-choice-char .feedback.wrong {
  color: #ff7d7d;
}

.multiple-choice-char .feedback.right {
  color: #98fbc9;
}

.choice-row {
  min-width: 220px;
  text-align: right;
}

span.choice:first-child {
  float: left;
};